<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="fullcontent">
      <div class="headings">
        <h1>The Book Store</h1>
        <h2>Welcome to the book store. Create Your own collections</h2>
      </div>
      <div>
        <a href="/books/create">
          <button class="btn">Add books</button>
        </a>
        <a href="/books">
          <button class="btn">view books</button>
        </a>
      </div>
    </div>
  </body>
</html>
